.body{
    /* 
        La función linear-gradient es utlizada para poder tres colores de tal modo que sean seguidos, en el primer atributo se define la dirección de los colores
            - to right -> colores en orden horizontal
            - to bottom -> colores en orden verticales
            - to deg -> colores en orden diagonal "se debe poner un numero en el que tendra la inclinación ejem: 45deg"
    */
    background: linear-gradient(to right, #3AA7D6,#A32EB3); 
}
.background-formation{
    background: linear-gradient(to bottom, #3F24B5,#E063B1);
}

.background-interested{
    background: linear-gradient(to right, #6BC780, #EBB881, #81D1EB);
}

.align{
    text-align: justify;
}

.align-text-information{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.subtitles{
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}

.align-content{
    align-items: center;
    padding: auto;
}

.align-formation{
    text-align: center;
    color: lightgreen;
}

.container_per{
    border: solid 2px;
}

.footer{
    background-color: azure;
    text-align: center;
}